name: Post Pull Request Checks Automation

on:
  workflow_call:
    secrets:
      # We can't access org secrets here so they need to be passed in.
      MERGE_TOKEN:
        required: false
        description: >
          An authentication token, like a personal access token (PAT), that provides write access to the repository and
          can be used to merge the pull request. This is necessary because when a pull request is merged while being
          authenticated with the default GITHUB_TOKEN of a workflow run, then the merge won't trigger other workflows
          (like a build workflow on the target branch). This is an intentional limitation, see:
          https://docs.github.com/en/actions/using-workflows/triggering-a-workflow#triggering-a-workflow-from-a-workflow.
          Thus, we need to use an alternative authentication token. See
          https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token
          for info on how to create PATs; you'll need one with the "repo" scope. Check out
          https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs
          for instructions on what other tokens you can use.
      JIRA_BASE_URL:
        required: true
        description: >
          Configure as explained under https://github.com/marketplace/actions/jira-login#enviroment-variables. Note that
          it must NOT end with a slash.
      JIRA_USER_EMAIL:
        required: true
        description: Configure as explained under https://github.com/marketplace/actions/jira-login#enviroment-variables.
      JIRA_API_TOKEN:
        required: true
        description: Configure as explained under https://github.com/marketplace/actions/jira-login#enviroment-variables.

    inputs:
      merge-method:
        description: >
          The merge strategy to be used for the auto-merge-pull-request action. See the API documentation for
          "merge_method" for applicable values:
          https://docs.github.com/en/rest/pulls/pulls?apiVersion=2022-11-28#merge-a-pull-request
        required: false
        type: string
        default: merge
      timeout-minutes:
        required: false
        type: number
        default: 1
        description: Configuration for the timeout-minutes parameter of the workflow.
      run-only-latest-workflow:
        type: string
        description: 'Run only if the current workflow is the most recent workflow.'
        default: 'true'

jobs:
  post-pull-request-checks-automation:
    outputs:
      latest-run-number: ${{ steps.get-latest-workflow-run-number.outputs.latest_run_number }}
    runs-on: ubuntu-22.04
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - name: Checkout
        uses: Lombiq/GitHub-Actions/.github/actions/checkout@dev
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Latest Workflow Run Number
        id: get-latest-workflow-run-number
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          LATEST_RUN_NUMBER=$(gh run list --limit 1 | awk '{print $26}')
          echo "latest_run_number=$LATEST_RUN_NUMBER"
          echo "github.run_number=${{ github.run_id }}"
          echo "latest_run_number=$LATEST_RUN_NUMBER" >> $GITHUB_OUTPUT

      - name: Set Merge Token
        shell: pwsh
        env:
          MERGE_TOKEN: ${{ secrets.MERGE_TOKEN }}
        run: |
          $mergeToken = $Env:MERGE_TOKEN ? $Env:MERGE_TOKEN : "${{ secrets.GITHUB_TOKEN }}"
          "MERGE_TOKEN=$mergeToken" >> $Env:GITHUB_ENV
        if: |
          (inputs.run-only-latest-workflow == 'false') || (github.run_number == steps.get-latest-workflow-run-number.outputs.latest_run_number)

      - name: Automatically Merge Pull Request
        uses: Lombiq/GitHub-Actions/.github/actions/auto-merge-pull-request@dev
        env:
          GITHUB_TOKEN: ${{ env.MERGE_TOKEN }}
        with:
          merge-method: ${{ inputs.merge-method }}
        if: |
          (inputs.run-only-latest-workflow == 'false') || (github.run_number == steps.get-latest-workflow-run-number.outputs.latest_run_number)

      - name: Automatically Resolve or Done Jira issue
        uses: Lombiq/GitHub-Actions/.github/actions/auto-resolve-done-jira-issue@dev
        env:
          GITHUB_TOKEN: ${{ env.MERGE_TOKEN }}
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
        if: |
          (inputs.run-only-latest-workflow == 'false') || (github.run_number == steps.get-latest-workflow-run-number.outputs.latest_run_number)

      - name: Remove Label
        # v2.0.0
        uses: buildsville/add-remove-label@eeae411a9be2e173f2420e1644514edbecc4e835
        with:
          token: ${{ env.MERGE_TOKEN }}
          labels: merge-and-resolve-jira-issue-if-checks-succeed
          type: remove
        if: |
          (inputs.run-only-latest-workflow == 'false') || (github.run_number == steps.get-latest-workflow-run-number.outputs.latest_run_number)
