name: Spelling

concurrency:
  # If "cancel-in-progress-for-this-pr" is set to "true" and this is running for a pull request, then the concurrency
  # key will be constructed from the name of the workflow and the branch name, causing the already running job in this
  # workflow for this pull request to be cancelled. Otherwise it will be the ID of the workflow run, making it globally
  # unique and not cancel anything. Concurrency is defined for the whole workflow, because it has only two jobs
  # (check-spelling and comment-pr) and the latter depends on the former, so they won't run in parallel. A technical
  # name for this workflow is also included in both cases, so that it doesn't come into conflict with other jobs calling
  # a different workflow that are started by the same caller workflow.
  group: |
    ${{
      inputs.cancel-in-progress-for-this-pr == 'true' && github.event_name == 'pull_request'
        && format('{0}_spell-checking_{1}', github.workflow, github.ref)
        || format('{0}_spell-checking', github.run_id)
    }}
  cancel-in-progress: ${{ inputs.cancel-in-progress-for-this-pr == 'true' }}

on:
  workflow_call:
    secrets:
      CHECKOUT_TOKEN:
        required: false
        description: >
          The GitHub token to authenticate checkout. Pass in a GitHub personal access token if authenticated submodules
          are used.

    # When updating defaults here also update them in the `spelling` action.
    inputs:
      cancel-in-progress-for-this-pr:
        description: >
          When set to "true", it will cancel the already running workflow for this pull request. See the concurrency
          settings of the workflow above for more details.
        type: string
        default: 'true'
      cancel-workflow-on-failure:
        description: When set to "true", it will cancel the current workflow run with all jobs if this workflow fails.
        type: string
        default: 'true'
      merge-file-excludes:
        description: >
          When set to "true", the "excludes.txt" file's contents in Lombiq.GitHub.Actions will be merged into the one in
          the workspace repository.
        type: string
        default: 'true'
      merge-forbidden-patterns:
        description: >
          When set to "true", the "line_forbidden.patterns" file's contents in Lombiq.GitHub.Actions will be merged into
          the one in the workspace repository.
        type: string
        default: 'true'
      merge-ignore-patterns:
        description: >
          When set to "true", the "patterns.txt" file's contents in Lombiq.GitHub.Actions will be merged into the one in
          the workspace repository.
        type: string
        default: 'true'
      default-dictionaries:
        description: Space delimited list of URLs (or `prefix:`+path) to additional word lists
        type: string
        default: |
          cspell:filetypes/filetypes.txt
          cspell:software-terms/dict/softwareTerms.txt
          lombiq-lgha:dictionaries/Lombiq.common.txt
      additional-configuration-source-prefixes:
        description: >
          JSON map of prefixes for additional configuration file (for now, only dictionary) URLs. "cspell" and
          "lombiq-lgha" are available by default, but can be overridden.
        type: string
      additional-dictionaries:
        description: Space delimited list of URLs (or `prefix:`+path) to additional word lists
        type: string
      configuration-path:
        description: Relative path to the spell-checking configuration folder.
        type: string
        default: .github/actions/spelling
      default-configuration-repository:
        description: >
          Repository with default configuration to use when the workspace repository doesn't have its own configuration.
          The default from Check Spelling is ''.
        type: string
        default: Lombiq/GitHub-Actions@dev
      timeout-minutes:
        type: number
        default: 3
        description: Configuration for the timeout-minutes parameter of the workflow.

jobs:
  check-spelling:
    name: Check Spelling
    outputs:
      followup: ${{ steps.check-spelling-action.outputs.followup }}
    runs-on: ubuntu-22.04
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - name: Checkout
        uses: Lombiq/GitHub-Actions/.github/actions/checkout@dev
        with:
          token: ${{ secrets.CHECKOUT_TOKEN }}

      # This is a workaround for the spelling workflow to check submodules too in the repository.
      - name: Stub repo layout
        shell: pwsh
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          Remove-Item .\.git\ -Recurse -Force
          git init .
          git add .
          git commit -m 'stub commit -- includes submodules'

      - name: Check Spelling
        id: check-spelling-action
        uses: Lombiq/GitHub-Actions/.github/actions/spelling@dev
        with:
          merge-file-excludes: ${{ inputs.merge-file-excludes }}
          merge-forbidden-patterns: ${{ inputs.merge-forbidden-patterns }}
          merge-ignore-patterns: ${{ inputs.merge-ignore-patterns }}
          default-dictionaries: ${{ inputs.default-dictionaries }}
          additional-configuration-source-prefixes: ${{ inputs.additional-configuration-source-prefixes }}
          additional-dictionaries: ${{ inputs.additional-dictionaries }}
          configuration-path: ${{ inputs.configuration-path }}
          default-configuration-repository: ${{ inputs.default-configuration-repository }}
          post-comment: 0

      - name: Cancel Workflow on Failure
        if: failure() && inputs.cancel-workflow-on-failure == 'true'
        uses: Lombiq/GitHub-Actions/.github/actions/cancel-workflow@dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  comment-pr:
    name: Comment (PR)
    runs-on: ubuntu-22.04
    needs: check-spelling
    permissions:
      pull-requests: write
    if: always() && needs.check-spelling.outputs.followup && github.event_name == 'pull_request'
    steps:
      - name: Comment (PR)
        uses: Lombiq/GitHub-Actions/.github/actions/spelling@dev
        with:
          post-comment: 1
          task: ${{ needs.check-spelling.outputs.followup }}
