name: Validate Pull Request

on:
  workflow_call:
    secrets:
      # We can't access org secrets here so they need to be passed in.
      JIRA_BASE_URL:
        required: false
        description: >
          Configure as explained under https://github.com/marketplace/actions/jira-login#enviroment-variables. Note that
          it must NOT end with a slash.

jobs:
  validate-pull-request:
    runs-on: ubuntu-22.04
    steps:
      - name: Add Jira Issue Code to Pull Request
        if: github.event.pull_request == opened
        uses: Lombiq/GitHub-Actions/.github/actions/add-jira-issue-code-to-pull-request@issue/OSOE-505
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check for Merge Conflict in PR
        uses: Lombiq/GitHub-Actions/.github/actions/check-merge-conflict@dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
