name: Validate Pull Request

on:
  workflow_call:
    secrets:
      # We can't access org secrets here so they must be passed in.
      JIRA_BASE_URL:
        required: false
        description: >
          Configure as explained under https://github.com/marketplace/actions/jira-login#enviroment-variables. Note that
          it must NOT end with a slash.
    inputs:
      timeout-minutes:
        type: number
        default: 3
        description: Configuration for the timeout-minutes parameter of the workflow.

jobs:
  validate-pull-request:
    runs-on: ubuntu-22.04
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - name: Check Issues are Enabled
        id: check-issues-are-enabled
        uses: Lombiq/GitHub-Actions/.github/actions/check-issues-are-enabled@issue/OSOE-689
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update Github issue and Pull Request
        if: github.event_name == 'pull_request' && steps.check-issues-are-enabled.outputs.issues-enabled == 'false'
        uses: Lombiq/GitHub-Actions/.github/actions/update-github-issue-and-pull-request@dev
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check for Merge Conflict in PR
        uses: Lombiq/GitHub-Actions/.github/actions/check-merge-conflict@dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
