name: YAML Linting

# Runs for PRs opened for any branch, and pushes to the dev branch.
on:
  pull_request:
  push:
    branches:
      - dev

jobs:
  yaml-linting:
    name: YAML Linting
    uses: Lombiq/GitHub-Actions/.github/workflows/yaml-lint.yml@dev
    with:
      config-file-path: .trunk/configs/.yamllint.yaml
      search-path: .
