name: YAML Linting

on:
  workflow_call:
    secrets:
      CHECKOUT_TOKEN:
        required: false
        description: >
          The GitHub token to authenticate checkout. Pass in a GitHub personal access token if authenticated submodules
          are used.

    inputs:
      timeout-minutes:
        required: false
        type: number
        default: 10
        description: Configuration for the timeout-minutes parameter of the workflow. GitHub's default is 360.
      cancel-workflow-on-failure:
        description: If set to "true", this will cancel the current workflow run with all jobs if this workflow fails.
        required: false
        type: string
        default: "true"
      config-file-path:
        description: 'Path to the yamllint configuration file'
        required: true
        type: string
        default: '.yamllint.yaml'
      search-path:
        description: 'Path to search for YAML files'
        required: true
        type: string
        default: '.'

jobs:
  yaml-linting:
    runs-on: ubuntu-22.04
    name: YAML Linting Job
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - name: Checkout
        uses: Lombiq/GitHub-Actions/.github/actions/checkout@dev
        with:
          token: ${{ secrets.CHECKOUT_TOKEN }}

      - name: YAML Linting
        uses: Lombiq/GitHub-Actions/.github/actions/yaml-lint@dev
        with:
          config-file-path: ${{ inputs.config-file-path }}
          search-path: ${{ inputs.search-path }}

      - name: Cancel Workflow on Failure
        if: failure() && inputs.cancel-workflow-on-failure == 'true'
        uses: Lombiq/GitHub-Actions/.github/actions/cancel-workflow@dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
